.cards{
    background-color: #64b2f3;
    color: white;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

  .cards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .cards .card-img-top {
    transition: transform 0.3s;
  }
  
  .cards:hover .card-img-top {
    transform: scale(1.1);
  }